:root {
  --color-white: #fff;

  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-selfcare: hsl(43, 84%, 65%);

  --color-blue--verydark: hsl(226, 43%, 10%);
  --color-blue--dark: hsl(235, 46%, 20%);
  --color-blue: hsl(246, 80%, 60%);
  --color-blue--desaturated: hsl(235, 45%, 61%);
  --color-blue--pale: hsl(236, 100%, 87%);

  --radius: 0.9375rem;

  --avatar-diameter: 4.375rem;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
