@import "root.css";
@import "helpers.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, serif;
  color: var(--color-white);
}

body {
  min-height: 100vh;
  background: var(--color-blue--verydark);
  padding: 5.0625rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  margin-top: 3em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-blue--desaturated);
}

main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 1114px;
  }
  main {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
