<link rel="stylesheet" href="./components/user/user.component.css" />

<div class="user">
  <div class="user-info">
    <img
      class="user-info-avatar"
      src="./images/image-jeremy.png"
      alt="Jeremy"
    />
    <div>
      <p class="text--legend">Report for</p>
      <h1 class="text--title">Jeremy Robson</h1>
    </div>
  </div>
  <div class="user-timeframes">
    <button id="daily" class="btn--text">Daily</button>
    <button id="weekly" class="btn--text">Weekly</button>
    <button id="monthly" class="btn--text">Monthly</button>
  </div>
</div>
